<%- include("../partials/header.ejs",{page:"profile"}); %>
    <%- include("../partials/slide_bar.ejs",{page:"profile"}); %>


        <div id="navbar-wrapper">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
            </nav>
        </div>

        <section id="content-wrapper">
            <div class="row ml-lg-5 ml-sm-4" id="photo">
                <form class="avatar-upload">

                    <div class="avatar-preview container2">
                        <img id="imagePreview" src="/images/avatars/<%= !data.avatar?"1.png":data.avatar %>">



                    </div>
                </form>
            </div>
            <table class="table table-hover align-middle bg-white mt-3">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Role</th>
                        <th scope="col">FirstName</th>
                        <th scope="col">LastName</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <%= data.role %>
                        </td>
                        <td>
                            <%= data.firstname %>
                        </td>
                        <td>
                            <%= data.lastname %>
                        </td>
                        <td>
                            <%= data.username %>
                        </td>
                        <td>
                            <%= data.gender %>
                        </td>
                        <td>
                            <%= data.email %>
                        </td>
                        <td>
                            <%= data.mobile %>
                        </td>

                    </tr>

                </tbody>
            </table>
        </section>

        </div>
        <script src="/javascripts/profile.js"></script>
        </body>

        </html>