<nav aria-label="Page navigation example" id="pagination" class="mt-3">
    <ul class="pagination">
        <li class="page-item" id="pagenum" pagenum="<%= page %> "><a class="page-link"
                href="/<%= (()=> {if (pagename === "myarticles") {return "myarticles" }else{return "allarticles" }})()
                %>/<%= page-1 %>/<%= countpage %>">Previous</a></li>
        <% for( let i=1; i <= countpage; i++ ) { %>
            <li class="page-item <%= (()=> {if (page === i) {return "active" }})() %>"><a class="page-link"
                    href="/<%= (()=> {if (pagename === "myarticles") {return "myarticles" }else{return "allarticles"
                    }})() %>/<%= i %>/<%= countpage %>"><%= i %></a></li>
            <% } %>



                <li class="page-item"><a class="page-link" href="/<%= (()=> {if (pagename === "myarticles")
                        {return "myarticles" }else{return "allarticles" }})() %>/<%= page+1 %>/<%= countpage %>
                                ">Next</a></li>
    </ul>
</nav>