<%- include("../partials/header.ejs",{page:"createarticle"}); %>

    <%- include("../partials/slide_bar.ejs",{page:"createarticle"}); %>



        <div id="navbar-wrapper">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
            </nav>
        </div>




        <section id="content-wrapper  d-flex justify-content-center align-items-cente">

            <div class="container">
                <div class="alert alert-<%= (()=> {
                    if (err.length) {return "danger"} else if(succ.length) {return "success" } })() %> mt-3 <%= (()=>
                        {
                        if (err.length || succ.length) {return " d-block"} else {return " d-none" } })() %> mb-0"
                        role="alert">
                        <%= (()=> {
                            if (err.length || succ.length) {return err[0] || succ}
                            else {return ""}
                            })() %>
                </div>



               
                <form id="form" action="/createarticle" enctype="multipart/form-data" method="POST">
                    <div class="form-group border-0">
                        <img class="cover mt-3" alt="" width="200" height="200">
                        <input type="file" accept=".png, .jpg, .jpeg" name="cover" id="cover" class="form-control border-0">
                    </div>
                    <div class="form-group position-relative">
                        <label for="formName" class="d-block">

                        </label>
                        <input type="text" id="formtitle" name="title" class="form-control form-control-lg thick"
                            placeholder="Title">
                    </div>


                    <input name="content" type="hidden">


                    <div id="quillEditor">
                    </div>


                    <div class="text-center mt-4">
                        <button type="submit" id="btn" class="btn btn-primary" tabIndex="-1">Create Article</button>
                    </div>
                </form>

            </div>
        </section>

        </div>

        <script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/javascripts/createarticle.js"></script>
        </body>

        </html>